<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About us</title>
    <style media="screen">

        .body{
            background-image: url('{% static "images/bg.jpg" %}');
        }

        .jumbotron {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .jumbotron h1 {
            text-align: center;
        }

        .alert {
            margin: 0px;
        }
    </style>
    <title>About us</title>
</head>

<body>
{% include "hospital/navbar.html" %}
<br><br>

<div class="jumbotron">
    <p class="lead">It is an appointment management system for medical centers,</p>
    <p class="lead"> which is prepared to facilitate and accelerate the process of dealing with patients and internal
        affairs.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">BACK</a>
    </p>
</div>
{% include "hospital/footer.html" %}
</body>
</html>
